/* Don't change */
html, body {
  margin: 0;
  box-sizing: border-box;
}

/* Whole page */
body {
  margin-top: -22px;
   background-color: black;
 

  /* Center all on page */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* All images */
img {
  object-fit: fill;
  border-radius: 10px;
}

/* Movie background */
.movie-background {
  height: 84vh;
  width: 100%;
  position: relative;
  margin-bottom: 800px;
  background-image: url('https://i.redd.it/10zutid8u6651.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Content on movie background */
.movie-background .container {
  background-color:rgb(16, 12, 40);
  padding: 50px;
  position: relative;
  top: 480px;
  left: 0px;
  right: 0px;
  height: 300px;
  outline-style: dashed;
  outline-color:rgb(255, 196, 0);
  outline-width: 15px;
  display: flex;

}

.movie-background .cover {

  display: flex;
  padding: 40px;
  padding-right: 0px;
}


.bild1 {
  width: auto;
  height: 200px;
  position: relative;
margin-right: 40px;
object-fit: cover;
}

.bild2 {
  width: auto;
  height: 200px;
  position: relative;
  margin-right: 40px;
  object-fit: cover;

}

.bild3 {
  width: auto;
  height: 200px;
  position: relative;
  margin-right: 40px;
  object-fit: cover;

}




.catdance {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 300px;
}

@keyframes fallingcat {
  0% {top: 0px;}
  100% {top: 2500px;}

}

.cat {
  width: 240px;
  height: auto;
  position: absolute;
animation: fallingcat 20s infinite;
z-index: 10;
right: 30px;
}

a {
  color: purple;
margin-left: 10px;
font-size: 20px;
} 

a:hover {
  color: blue;
}

a:link {
  text-decoration: none;
}


/* Cover */
.movie-background .container .cover img {
  width: 300px;

}

/* Content */
.movie-background .container .content {

}

/* Paragraph only in movie bacground */
.movie-background .container .content p {
  color: #ffffff;
}

/* Main character */
.main-character {
  display: flex;
  width: 1020px;
  color: white;
  margin-right: 30px;
  margin-top: -450px;
}


.main-character h2{
  color: purple;
  font-size: 70px;
}


/* Director */
.director {
  display: flex;
  flex-direction: row-reverse;
  width: 1020px;
  color: white;
  margin-bottom: 150px;
  margin-top: 200px;

}

.director  h2{
  color: purple;
  font-size: 70px;
}


/* Rating */
.rating {
  display: flex;
  align-items: baseline;
}

/* Rating image */
.rating .rate {
  width: 50px;
  margin-right: 10px;
}

/* Rating title */
.rating h4 {
  color: white;
  font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;

}

.rating .big {
  color: white;
  font-size: 40px;
  
}


/* Typography */
h1 {
  color: white;
  font-family: 'Helvetica', Courier, monospace;
  font-size: 90px;
  margin-bottom: 0;
  margin-top: 60px;
  line-height: 28px;
}

.year {
  color: rgb(255, 196, 0);
  font-size: 30px;
}

.ChristopherNolan {
  width: 400px;
  height: 580px;
  margin-left: 40px;
  object-fit:cover
}


.Matthew_McConaughey {
  width: 400px;
  height: 600px;
  margin-right: 40px;
  object-fit: cover;
}

h2 {
  color: white;
  font-family: 'Helvetica', Courier, monospace;
  text-align: center
}
h3 {
  color: white;
  font-family: 'Helvetica', Courier, monospace;
  font-size: 30px;
  font-style: italic;
  text-align: center
}
h4 {
  color: white;
  font-family: 'Helvetica', Courier, monospace;
  text-align: center
}

p {
  color: white;
  font-family: 'arial', Courier, monospace;
font-size: 16px;
text-align: justify
}


h1  {
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-19 14:19:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.bild1 {
	-webkit-animation: slide-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-19 14:21:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.bild2 {
	-webkit-animation: slide-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-19 14:21:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.bild3 {
	-webkit-animation: slide-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-19 14:21:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


body {
	-webkit-animation: color-change-2x 4s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite alternate both;
	        animation: color-change-2x 4s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-19 14:24:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
  0% {
    background: black;
  }
  100% {
    background: #200331;
  }
}
@keyframes color-change-2x {
  0% {
    background: black;
  }
  100% {
    background: #130345;
  }
}
